.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  /*
    We use inherit so if we change the color of the
    footer, the color of the link will change with
    it.
  */
  color: inherit;
}
